.carrito__button {
  background-color: white;
  width: 20%;
  height: 40%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carrito__button:hover {
  background-color: rgb(224, 224, 224);
}

.icono__usuarios {
  width: 70%;
}