.card__general {
    background-color: green;
    border-radius: 100px;
    height: 300px;
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 40px;
    cursor: pointer;
    margin-top: 40px;
}

.card__general:hover {
    background-color: rgb(175, 175, 175);
    border: 2px solid black;
}