.detalles__container {
    border: 2px solid blue;
    width: 500px;
    height: 370px;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px 10px;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.detalles__title {
    text-align: center;
}

.detalles__info--container {
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.detalles__data {
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.detalles__img--container {
    justify-self: center;
    align-self: center;
}

.detalles__img {
    border-radius: 50px;
}

.agregar__button {
    cursor: pointer;
    display: flex;
    margin: auto;
    margin-top: 20px;
}